.notes-h2 {
    text-align: center;
}

.form-group-center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 
}

.btn-center {
    display: flex;
    margin: 0 auto;

}

.notes-border{
    border: 30px;
}